/*Використовую селектор тега для всіх hr: width - ширину лінії (30%); border - cкороченa властивість для ширини межі (5px) та 
стилю межі (в крапочку); border-style - стиль чотирьох меж (none - верхньої межі немає; none - права і ліва межі відсутні; 
dotted - нижня межа в крапочку); color - встановлює колір елемента*/
hr {
      width: 30%;
      border: 5px dotted;
      border-style: none none dotted;
      color: #BC8F8F
}
/*Використовую селектор тега для всіх h1: font-family - визначає шрифт для елементів; font-variant - Визначає, чи повинен текст 
відображатися маленьким шрифтом великими літерами (small-caps - всі малі літери перетворюються на великі)*/
h1 {
    font-family: Palatino Linotype;
    font-variant: small-caps;
}
/*Селектор класів вибирає елементи HTML із певним атрибутом класу. Щоб вибрати елементи з певним класом, пишу крапку (.), а потім 
назву класу.*/
/*background-color - Визначає колір фону елемента*/
.backCol {
    background-color: #F5DEB3;
}
/*font-weight - визначає, як мають відображатися символи в тексті (жирний); line-height - встановлює висоту рядка*/
.list {
    font-weight: bold;
    line-height: 1.6;
}
/*Селектор id використовує атрибут id елемента HTML, щоб вибрати певний елемент. Щоб вибрати елемент із певним 
ідентифікатором, пишу символ хеша (#), а потім ідентифікатор елемента*/
/*background-image - Встановлює фонове зображення для елемента body; url - URL-адреса зображення*/
#backImg {
    background-image: url("education.webp");
} 
/*text-decoration - Визначає декорацію, додану до тексту (underline overline - підкреслення зверху і знизу); font-style - Визначає 
стиль шрифту для тексту (italic - курсив)*/
#decor {
    text-decoration: underline overline; 
    font-style:italic;  
}
/*Псевдоклас використовується для визначення особливого стану елемента: cтиль елемента, коли користувач наводить курсор на нього, 
стиль відвідуваних і невідвідуваних посилань різний, стиль елемента, коли він отримує фокус*/
/*невідвідане посилання*/
a:link {
  color: red;
}
/*відвідане посилання*/
a:visited {
  color: green;
}
/*наведний курсор миші на посилання*/
a:hover {
  color: hotpink;
}
/*вибране посилання*/
a:active {
  color: blue;
}
.heading {
  background-color: #DEB887;
  height: 50px;
  width: 100%;
  color: #A52A2A;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
/*Для класу .heading застосовую: background-color - Визначаю колір фону елемента; height і width - Визначаю висоту (50 рх) і 
ширину елемента (100%); color - Визначаю колір тексту елементу; margin-top - Встановлюю відстань верхнього поля елемента; margin-
bottom - Встановлюю відстань нижнього поля елемента; text-align - Визначаю горизонтальне вирівнювання тексту (по центру)*/
.img {
  border: 2px solid brown;
  width: 242px;
  height: 242px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
/*Для класу .img застосовую: border - Скороченa властивість для ширини межі (2 рх), стилю межі (суцільний) та кольору межі; height 
і width - Визначаю висоту і ширину елемента (по 242 px); display - Вказую, як має відображатися елемент HTML (block - Відображає 
елемент як блоковий елемент, він починається з нового рядка і займає всю ширину); margin-left - Встановлюю відстань лівого поля
елемента (auto - Браузер обчислює ліве поле); margin-right - Встановлюю відстань правого поля елемента (auto - Браузер обчислює
ліве поле); margin-bottom - Встановлюю відстань нижнього поля елемента (20 рх)*/
.par {
  border: 4px double brown;
  background-color: #DEB887;
  text-align: center;
  display: block;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 20px;
  padding: 10px;
}
/*Для класу .par застосовую: border - Скороченa властивість для ширини межі (4 рх), стилю межі (подвійний) та кольору межі; 
background-color - Визначаю колір фону елемента; text-align - Визначаю горизонтальне вирівнювання тексту (по центру); display -
Вказую, як має відображатися елемент HTML (block - Відображає елемент як блоковий елемент, він починається з нового рядка і 
займає всю ширину); margin-left - Встановлюю відстань лівого поля елемента (100 рх); margin-right - Встановлюю відстань правого
поля елемента (100 рх); margin-bottom - Встановлюю відстань нижнього поля елемента (20 рх); padding - Визначаю відстань між 
вмістом і межею(10 рх)*/
.li {
  text-align: center;
}
/*Для класу .li застосовую: text-align - Визначаю горизонтальне вирівнювання тексту (по центру)*/
.inf {
  background-color: #DEB887;
  height: 20px;
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
}
/*Для класу .inf застосовую: background-color - Визначаю колір фону елемента; height і width - Визначаю висоту (20 рх) і ширину
елемента (30%); display - Вказую, як має відображатися елемент HTML (block - Відображає елемент як блоковий елемент, він 
починається з нового рядка і займає всю ширину); margin-left - Встановлюю відстань лівого поля елемента (auto - Браузер обчислює
ліве поле); margin-right - Встановлюю відстань правого поля елемента (auto - Браузер обчислює ліве поле); border-radius - визначаю
радіус кутів елемента (50 рх)*/
